<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#18181b">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/project.css">
    <link href="/css/hamburgers.min.css" rel="stylesheet">
    <meta name="google-site-verification" content="eMAzpyRtnzNkp-e7NaZryRKzMjxw9AbDBrohQToqTIs" />
    <title>Projects & Blog - Minyma Technologies</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-left">
                <ul>
                    <li class="nav-left nav-item nav-minyma">
                        <a href="/">
                            <img class='nav-minyma-img' src="/img/logo-dark.svg" alt="Minyma">
                        </a>
                    </li>
                    <button class="nav-menu-toggle hamburger hamburger--squeeze" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </ul>
            </div>
            <div class="nav-right">
                <ul class='nav-list-menu'>
                    <li class="nav-item nav-item-menu nav-home" style='display:none;'>
                        <a href='/'>Home</a>
                    </li>
                    <li class="nav-item nav-item-menu nav-fund">
                        </li>
                    <li class="nav-item nav-item-menu nav-project">
                        <a href="/project">Projects & Blog</a>
                    </li>
                    <li class="nav-item nav-item-menu nav-about">
                        <a href="/about">About</a>
                    </li>
                    <li class="nav-item nav-item-menu nav-contact">
                        <a href="mailto:info@minyma-tech.com">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="title-container">
            <h1 class="title">Projects & Blog</h1>
        </div>
        <ul class="project-category-list">
            <li class="project-category-item">
                <a href="/project/">All</a>
            </li>
            {{range $name, $taxonomy := .Site.Taxonomies.categories}} {{ $cnt := .Count }}
                {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
                <li class="project-category-item">
                    <a href="{{ .RelPermalink }}">{{ $name | title }}</a>
                </li>
                {{end}}
            {{end}}
        </ul>
        <div class="project-content-container">
            <section class="generic-posts-section">
                <div class="generic-posts-container">
                    {{ range .Pages }}
                    <div class="generic-post-container">
                        <a href='{{ .RelPermalink }}' class="generic-post-a post-a">
                            <div class="generic-post-text-container">
                                <div class="generic-post-text-container-top">
                                    <h1 class="generic-post-title post-title">
                                        {{ .Params.displaytitle }}
                                    </h1>
                                </div>
                                <p class="generic-post-description post-description">{{ .Params.description }}</p>
                            </div>
                            <div class="generic-post-image-container">
                                {{ with .Params.thumbnail }}
                                {{ $imageResource := ($.Site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix
                                "/uploads/" . ) }}
                                {{ if not $imageResource }}
                                <div class="lazyload generic-post-image" style='background-image: url("{{ . }}")'></div>
                                {{ else }}
                                {{ $resized := $imageResource.Resize "800x" }}
                                <div class="lazyload generic-post-image"
                                    style='background-image: url("{{ $resized.RelPermalink }}")'></div>
                                {{ end }}
                                {{ end }}
                            </div>
                        </a>
                    </div>
                    {{ end }}
                    <div class="generic-post-container">
                        <a href='/fund' class="generic-post-a post-a">
                            <div class="generic-post-text-container">
                                <div class="generic-post-text-container-top">
                                    <h1 class="generic-post-title post-title">
                                        The Minyma Fund
                                    </h1>
                                </div>
                                <p class="generic-post-description post-description">The Minyma Fund offers simplified hedging and high returns of capital with tailored risk-return ratio based on the client’s risk appetite.</p>
                            </div>
                            <div class="generic-post-image-container">
                                <div class="lazyload generic-post-image" style='background-image: url(/uploads/fund-cover.png)'></div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div class="footer-one">
                <span class="copyright">
                    Copyright © 2023 Minyma Inc. All rights reserved.
                </span>
            </div>
            <div class="footer-two">
                <ul class="footer-links">
                    <li class="footer-link">
                        <a href="/policies/legal">Legal</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/menuToggle.js"></script>

</html>