<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#18181b">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/project-single.css">
    <link href="/css/hamburgers.min.css" rel="stylesheet">
    <meta name="google-site-verification" content="eMAzpyRtnzNkp-e7NaZryRKzMjxw9AbDBrohQToqTIs" />
    {{ if .Page.Title }}
    <title>{{ .Page.Title }} – Minyma Technologies</title>
    {{ else }}
    <title>{{ .Site.Title }}</title>
    {{ end }}
</head>

<body>
    <header>
        <nav>
            <div class="nav-left">
                <ul>
                    <li class="nav-left nav-item nav-minyma">
                        <a href="/">
                            <img class='nav-minyma-img' src="/img/logo-dark.svg" alt="Minyma">
                        </a>
                    </li>
                    <button class="nav-menu-toggle hamburger hamburger--squeeze" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </ul>
            </div>
            <div class="nav-right">
                <ul class='nav-list-menu'>
                    <li class="nav-item nav-item-menu nav-home" style='display:none;'>
                        <a href='/'>Home</a>
                    </li>
                    <li class="nav-item nav-item-menu nav-fund">
                        <a href='/project/quino/'>Quino</a>
                    </li>
                    <li class="nav-item nav-item-menu nav-project">
                        <a href="/project">Projects</a>
                    </li>
                    <li class="nav-item nav-item-menu nav-about">
                        <a href="/about">About</a>
                    </li>
                    <li class="nav-item nav-item-menu nav-contact">
                        <a href="mailto:info@minyma-tech.com">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="content">
        <section>
            <article>
                <div class="article-header">
                    <div class="article-info">
                        <span class="article-date date">{{ .Date.Format "Jan 2, 2006" }}</span>
                    </div>
                    <h1 class="article-headline">
                        {{ .Title }}
                    </h1>
                </div>
                {{ with .Params.thumbnail }}
                    {{ $imageResource := ($.Site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                    {{ if not $imageResource }}
                        <figure class="article-image" style='background-image: url("{{ . }}")'>
                    {{ else }}
                        {{ $resized := $imageResource.Resize "800x q100" }}
                        <figure class="article-image" style='background-image: url("{{ $resized.RelPermalink }}")'>
                    {{ end }}
                {{ end }}
                </figure>
                <div class="article-content">
                    {{ .Content }}
                </div>
            </article>
        </section>
    </div>
    <footer>
        <div class="footer-content">
            <div class="footer-one">
                <span class="copyright">
                    Copyright © 2023 Minyma Inc. All rights reserved.
                </span>
            </div>
            <div class="footer-two">
                <ul class="footer-links">
                    <li class="footer-link">
                        <a href="/policies/legal">Legal</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/menuToggle.js"></script>

</html>