<header>
    <nav>
        <div class="nav-left">
            <ul>
                <li class="nav-left nav-item nav-minyma">
                    <a href="/">
                        <img class='nav-minyma-img' src="/img/logo-dark.svg" alt="Minyma">
                    </a>
                </li>
                <button class="nav-menu-toggle hamburger hamburger--squeeze" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </ul>
        </div>
        <div class="nav-right">
            <ul class='nav-list-menu'>
                <li class="nav-item nav-item-menu nav-home" style='display:none;'>
                    <a href='/'>Home</a>
                </li>
                <li class="nav-item nav-item-menu nav-fund">
                    <a href='/project/quino/'>Quino</a>
                </li>
                <li class="nav-item nav-item-menu nav-project">
                    <a href="/project">Projects</a>
                </li>
                <li class="nav-item nav-item-menu nav-about">
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
</header>