*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; 
  background-color: #FFFFFF;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Space Grotesk Variable;
  src: url(../fonts/SpaceGrotesk[wght].woff2) format("woff2"), url(../fonts/SpaceGrotesk[wght].woff) format("woff");
  font-weight: 100 700;
  font-style: normal; }

a:link, a:visited {
  color: inherit; }

select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* and then whatever styles you want*/
  height: 30px;
  width: 100px;
  padding: 5px; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #A3A3A3; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #A3A3A3;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #A3A3A3;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #A3A3A3; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #A3A3A3; }

::placeholder {
  /* Most modern browsers support this now. */
  color: #A3A3A3; }

body {
  font-family: Space Grotesk Variable, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000000;
  background-color: #FFFFFF;
  line-height: 1.42;
  -webkit-font-feature-settings: 'ss02', 'ss03', 'ss04', 'case';
  font-feature-settings: 'ss02', 'ss03', 'ss04', 'case'; }

a {
  text-decoration: none; }

hr {
  height: 1px;
  border: none; }

.shown {
  display: block !important; }

.menu-active {
  display: block !important; }

table {
  -webkit-font-feature-settings: 'ss02', 'ss03', 'ss04', 'case', 'tnum';
  font-feature-settings: 'ss02', 'ss03', 'ss04', 'case', 'tnum'; }

header {
  z-index: 9;
  position: relative; }
  header nav {
    max-width: 1288px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
    header nav .nav-left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media screen and (max-width: 768px) {
        header nav .nav-left {
          width: 100%; } }
      @media screen and (max-width: 768px) {
        header nav .nav-left ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%; } }
    header nav .nav-right {
      margin-right: 32px; }
      @media screen and (max-width: 768px) {
        header nav .nav-right {
          margin-right: 0; } }
    header nav .nav-list-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header nav .nav-list-menu li {
        margin-left: 64px; }
        @media screen and (max-width: 768px) {
          header nav .nav-list-menu li {
            margin-left: 0;
            padding: 12px 0; } }
      @media screen and (max-width: 768px) {
        header nav .nav-list-menu {
          display: none;
          padding-top: 12px; } }
    header nav .nav-menu-toggle {
      display: none; }
      @media screen and (max-width: 768px) {
        header nav .nav-menu-toggle {
          display: block; } }
    @media screen and (max-width: 1417px) {
      header nav {
        max-width: 1072px; } }
    @media screen and (max-width: 1201px) {
      header nav {
        max-width: 964px; } }
    @media screen and (max-width: 1001px) {
      header nav {
        max-width: 748px; } }
    @media screen and (max-width: 768px) {
      header nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        background-color: #F5F5F5;
        padding: 12px 20px; } }
    
  
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  background-color: #18181B !important; }

.nav-minyma a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav-minyma-img {
  width: 48px;
  max-height: 24px; }

.nav-item {
  color: #737373;
}

.nav-item:hover {
  color: black;
}

body {
  background-color: white;
  color: #18181B; }

html, body {
  height: auto; }

header {
  background-color: white; }

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-top: 64px;
  margin-bottom: 48px;
  padding: 0 32px; }
  @media screen and (max-width: 768px) {
    .title-container {
      margin-top: 48px;
      margin-bottom: 24px; } }

.title {
  color: #18181B;
  font-size: 40px;
  text-align: center;
  letter-spacing: -0.03em;
  font-weight: 700;
  line-height: 1; }

.subtitle {
  font-size: 14px;
  color: #737373;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 17px;
  margin-bottom: 8px; }

.project-content-container {
  max-width: 1072px;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .project-content-container {
      max-width: 964px; } }
  @media screen and (max-width: 1000px) {
    .project-content-container {
      max-width: 748px; } }
  @media screen and (max-width: 768px) {
    .project-content-container {
      max-width: none;
      width: 100%;
      padding: 24px; } }

.highlight-post-section {
  overflow: hidden;
  border-radius: 7px; }

.highlight-post-container {
  height: 560px;
  background-position: center;
  background-size: cover;
  border-radius: 7px;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .highlight-post-container:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }
  @media screen and (max-width: 1200px) {
    .highlight-post-container {
      height: 540px; } }
  @media screen and (max-width: 1000px) {
    .highlight-post-container {
      height: 480px; } }
  @media screen and (max-width: 700px) {
    .highlight-post-container {
      padding: 24px;
      height: 400px; } }

.highlight-post-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .highlight-post-a:hover > .highlight-post-text-container {
    color: #D4D4D4;
    -webkit-transform: scale(0.982);
    -ms-transform: scale(0.982);
    transform: scale(0.982); }

.highlight-post-text-container {
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }

.post-category {
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 600;
  margin-bottom: 12px;
  text-transform: uppercase; }
  @media screen and (max-width: 700px) {
    .post-category {
      font-size: 12px; } }

.post-date {
  font-size: 14px;
  letter-spacing: 0.015em;
  font-weight: 600;
  margin-top: 12px; }
  @media screen and (max-width: 700px) {
    .post-date {
      font-size: 12px; } }

.highlight-post-category {
  color: #E5E5E5; }

.highlight-post-title {
  font-size: 40px;
  letter-spacing: -0.03em;
  line-height: 1.2;
  font-weight: 700; }
  @media screen and (max-width: 700px) {
    .highlight-post-title {
      font-size: 24px;
      letter-spacing: -0.02em; } }

.highlight-post-date {
  color: #E5E5E5; }

.post-a {
  width: 100%;
  height: 100%;
  text-decoration: none; }
  .post-a:hover {
    background-color: transparent !important; }

.generic-posts-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 700px) {
    .generic-posts-container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.generic-post-container {
  width: 526px;
  margin-bottom: 20px; }
  @media screen and (max-width: 1200px) {
    .generic-post-container {
      max-width: 472px; } }
  @media screen and (max-width: 1000px) {
    .generic-post-container {
      max-width: 364px; } }
  @media screen and (max-width: 768px) {
    .generic-post-container {
      max-width: none;
      width: 48.65%; } }
  @media screen and (max-width: 700px) {
    .generic-post-container {
      max-width: 424px;
      width: 100%; } }

.generic-post-a:hover > .generic-post-text-container {
  color: #525252; }

.generic-post-a:hover > .generic-post-image-container > .generic-post-image {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02); }

.generic-post-image-container {
  height: 295px;
  width: 100%;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-position: center;
  background-color: transparent;
  overflow: hidden; }
  @media screen and (max-width: 1200px) {
    .generic-post-image-container {
      height: 280px; } }
  @media screen and (max-width: 1000px) {
    .generic-post-image-container {
      height: 230px; } }

.generic-post-image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.generic-post-text-container {
  padding: 32px;
  min-height: 240px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; }
  @media screen and (max-width: 1200px) {
    .generic-post-text-container {
      min-height: 230px; } }
  @media screen and (max-width: 1000px) {
    .generic-post-text-container {
      min-height: 243px; } }
  @media screen and (max-width: 700px) {
    .generic-post-text-container {
      min-height: 0;
      padding: 24px; } }

.generic-post-category {
  color: #737373; }

.generic-post-title {
  font-size: 24px;
  letter-spacing: -0.02em;
  font-weight: 700;
  line-height: 1.2; }
  @media screen and (max-width: 700px) {
    .generic-post-title {
      font-size: 20px;
      letter-spacing: -0.01em; } }

.generic-post-date {
  color: #737373; }

footer {
  background: -webkit-linear-gradient(186.03deg, #FAFAFA 0%, #F5F5F5 100%);
  background: -o-linear-gradient(186.03deg, #FAFAFA 0%, #F5F5F5 100%);
  background: linear-gradient(263.97deg, #FAFAFA 0%, #F5F5F5 100%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  margin-top: 50px;
  border-top: 1px solid #A3A3A3; }

.footer-content {
  width: 1072px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .footer-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.copyright {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #737373;
  text-transform: uppercase; }

.footer-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  .footer-two {
    margin-top: 24px;
    width: 100%; } }

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .footer-links {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.footer-link {
  margin-left: 40px;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #525252;
  text-transform: uppercase; }
  @media screen and (max-width: 1001px) {
    .footer-link {
      margin-left: 24px; } }
  @media screen and (max-width: 768px) {
    .footer-link {
      margin-left: 0; } }
