@import 'reset';
@import 'vars';

@font-face {
 font-family:Space Grotesk Variable;
 src:url(../fonts/SpaceGrotesk[wght].woff2) format("woff2"),
 url(../fonts/SpaceGrotesk[wght].woff) format("woff");
 font-weight:100 700;
 font-style:normal
}

a:link, a:visited {
	color: inherit;
}

select {
	background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
    /* and then whatever styles you want*/
	height: 30px; 
	width: 100px;
	padding: 5px;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $grey-400;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $grey-400;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $grey-400;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $grey-400;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: $grey-400;
}

::placeholder { /* Most modern browsers support this now. */
   color: $grey-400;
}

body {
    font-family: $font-stack;
    color: $black;
	background-color: $white;
	line-height: 1.42;
	// font-feature-settings: "case" on;
	font-feature-settings: 'ss02', 'ss03', 'ss04', 'case';
	// font-feature-settings: "case" on, "tnum" on;
}

a {
    text-decoration: none;
}


hr {
	height: 1px;
    border: none;
}

.shown {
    display: block !important;
}

.menu-active {
    display: block !important;
}

table {
	font-feature-settings: 'ss02', 'ss03', 'ss04', 'case', 'tnum';
}