@import 'vars';
@import 'base.scss';

body {
    background-color: $black;
    // background: linear-gradient(252.6deg, $grey-900, $black);
    color: $white;
}

html {
    overflow-x: hidden;
}

html, body {
    height: auto;
}

a {
    &:hover {
		@media screen and (min-width: 768px) {
			background-color: $black;
		}
	}
}

.content {
    height: 100%;
    width: $contentWidth-1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    @media screen and (max-width: 1417px) {
        width: $contentWidth-2;
    }
    @media screen and (max-width: 1201px) {
        max-width: $contentWidth-3;
    }
    @media screen and (max-width: 1001px) {
        max-width: $contentWidth-4;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 100%;
        position: relative;
        left: 0;
        transform: none;
    }
}

.nav-minyma a {
    display: flex;
}

.nav-minyma-img {
    width: 48px;
    max-height: 24px;
}

header {
    z-index: 9;
    position: relative;
    nav {
        max-width: $contentWidth-1;
        margin: 0 auto;
        padding-top: $sp-10;
        padding-bottom: $sp-10;
        display: flex;
        justify-content: space-between;
        font-size: $f-2;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        .nav-left {
            display: flex;
            align-items: center;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            ul {
                @media screen and (max-width: 768px) {
                    display: flex;
                    width: 100%;
                }
            }
        }
        .nav-right {
            margin-right: $sp-8;
            @media screen and (max-width: 768px) {
                margin-right: 0;
            }
        }
        .nav-list-menu {
            display: flex;
            li {
                margin-left: $sp-16;
                @media screen and (max-width: 768px) {
                    margin-left: 0;
                    padding: $sp-3 0;
                }
            }
            @media screen and (max-width: 768px) {
                display: none;
                padding-top: $sp-3;
            }
        }
        .nav-menu-toggle {
            display: none;
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
        @media screen and (max-width: 1417px) {
            max-width: $contentWidth-2;
        }
        @media screen and (max-width: 1201px) {
            max-width: $contentWidth-3;
        }
        @media screen and (max-width: 1001px) {
            max-width: $contentWidth-4;
            // font-size: $f-3;
        }
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            background-color: $grey-900;
            padding: $sp-3 $sp-5;
        }
    }
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

.hero-one {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    margin: auto;
    margin-top: $sp-10;

    width: $c-6;
    display: flex;
    flex-direction: column;
    .hero-title {
        color: $white;
        font-size: $f-10;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.04em;
        margin-bottom: $sp-3;
        @media screen and (max-width: 1001px) {
             font-size: $f-9;
        }
        @media screen and (max-width: 768px) {
        }
    }
    .hero-subtitle {
        color: $grey-300;
        font-size: $f-6;
        font-weight: 600;
        margin-bottom: $sp-16;
        letter-spacing: -0.02em;
        @media screen and (max-width: 1001px) {
            font-size: $f-5;
            letter-spacing: -0.01em;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: $sp-12;
        }
    }
    .hero-text {
        padding-right: $sp-5;
        color: $grey-200;
        font-size: $f-5;
        line-height: 1.42;
        letter-spacing: -0.01em;
        margin-bottom: $sp-10;
        @media screen and (max-width: 1417px) {
            max-width: $c-5;
        }
        @media screen and (max-width: 1001px) {
            max-width: $c-3;
            font-size: $f-3;
        }
        @media screen and (max-width: 768px) {
            max-width: $c-4;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-right: 0;
        }
    }
    .hero-links {
        color: $white;
        font-size: $f-5;
        letter-spacing: -0.01em;
        line-height: 1.42;
        font-weight: 600;
        a {
            &:hover {
                color: $grey-900;
                background-color: $white !important;
            }
        }
        @media screen and (max-width: 1001px) {
            font-size: $f-3;
        }
    }
    @media screen and (max-width: 768px) {
        position: relative;
        margin-top: 0;
        top: 0;
        transform: none;
        width: 100%;
        padding: $sp-5;
        padding-top: 0;
        text-align: center;
    }
}

.hero-two {
    width: 100%;
    height: 100%;
    position: absolute;
    .hero-two-background {
        background-position: center;
        background-size: cover;
        position: absolute;
        right: 0;
        width: $c-6;
        height: 100%;
        min-height: 60vh;
        @media screen and (max-width: 1417px) {
            width: $c-5;
        }
        @media screen and (max-width: 1201px) {
            width: $c-4;
        }
        @media screen and (max-width: 1001px) {
            max-width: $c-4;
        }
        @media screen and (max-width: 768px) {
            max-width: none;
            position: relative;
            width: 100%;
            // min-height: 300px;
        }
    }
    @media screen and (max-width: 768px) {
        position: relative;
        padding: $sp-8;
        min-height: 300px;
    }
    @media screen and (max-width: 520px) {
        padding: $sp-5;
    }
}


.animation {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
